# Series
    
* 一维数组型对象，包含一个值序列和数据标签(索引)

In [1]:
import pandas as pd
import numpy as np

In [2]:
obj = pd.Series([4, 7, -7, 5])

In [3]:
obj

0    4
1    7
2   -7
3    5
dtype: int64

* index: 索引, 默认创建 0 ~ len(Series), step 1
* values:值

In [4]:
obj.values

array([ 4,  7, -7,  5], dtype=int64)

In [5]:
obj.index

RangeIndex(start=0, stop=4, step=1)

* 可将与值等长度的序列作为参数传入 Series的index属性中

In [6]:
obj2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])

In [7]:
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [8]:
obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

* 与NumPy相比，pandas可以使用标签作为参数的索引

In [9]:
obj2['a']

-5

* 与numpy一样，pandas的切片获取到的也是数据的视图， 任何对数据的修改都会反应到原视图上

In [10]:
obj2['d'] = 6

In [11]:
obj2

d    6
b    7
a   -5
c    3
dtype: int64

In [12]:
# obj2['c', 'a', 'd'] 
obj2[['c', 'a', 'd']]

c    3
a   -5
d    6
dtype: int64

* pandas可是使用numpy的函数或numpy风格的操作
* 需要注意： 这些操作应该保持索引值的连接

In [13]:
obj2[obj2 > 0]

d    6
b    7
c    3
dtype: int64

In [14]:
obj2 * 2

d    12
b    14
a   -10
c     6
dtype: int64

In [15]:
np.exp(obj2)

d     403.428793
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

* Series可以认为是一个长度固定且有序的字典
* 即： Series可以将索引值和数据值按位置进行配对。

In [16]:
'b' in obj2

True

In [17]:
'e' in obj2

False

* 通过字典创建Series

In [18]:
sdata = {
    'Ohio': 35000,
    'Texas': 71000,
    'Oregon': 15600,
    'Utah': 5000,
}

In [19]:
obj3 = pd.Series(sdata)

* Series 会自动将字典拆分成 keyList， valList， 然后根据keyList创建索引

In [20]:
obj3

Ohio      35000
Texas     71000
Oregon    15600
Utah       5000
dtype: int64

* 可以将字典的键，提取出来，按照自己的预期进行排序， 然后在将字典键列表传递给Series
    
    这样就可以Series的顺序进行调整

In [21]:
states = ['California', 'Ohio', 'Oregon', 'Texas']

In [22]:
obj4 = pd.Series(sdata, index=states)

* 传入的字典键列表中的元素，可以不是字典的键， 字典的键也可以不用出现列表中
    * 如果不是字典的键，Series也会创建出对应的值，填充NaN， 表示缺失数据
    * 如果字典的键不在列表中，则会被Series排除
    * 这一特性只能在传递的数据为字典时可用，其他比如列表等，index长度必须一致

In [23]:
obj4

California        NaN
Ohio          35000.0
Oregon        15600.0
Texas         71000.0
dtype: float64

* isnull & notnull 检查缺失数据

    * pandas 提供了检查数据是否缺失的方法 isnull & notnull
        * 将series或者DataFrame对象传递给isnull & notnull
        * pandas会返回一个bool对象

In [24]:
pd.isnull(obj4)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [25]:
pd.notnull(obj4)

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

* 自动对齐索引

    * 在对两个Series对象进行操作时，pandas会自动根据Series中的键进行对齐操作
        * 对相同键进行修改
        * 然后将两个Series的索引合并成一个新的集合
        * 创建新的Series对象

In [26]:
obj3

Ohio      35000
Texas     71000
Oregon    15600
Utah       5000
dtype: int64

In [27]:
obj4

California        NaN
Ohio          35000.0
Oregon        15600.0
Texas         71000.0
dtype: float64

In [28]:
obj3 + obj4

California         NaN
Ohio           70000.0
Oregon         31200.0
Texas         142000.0
Utah               NaN
dtype: float64

* Series自身及其索引各自都拥有name属性

In [29]:
obj4.name = 'population'

In [30]:
obj4.index.name = 'state'

In [31]:
obj4

state
California        NaN
Ohio          35000.0
Oregon        15600.0
Texas         71000.0
Name: population, dtype: float64

* Series支持对index重新赋值， 给定一个indexList， 根据顺序对Series的重写

In [32]:
obj

0    4
1    7
2   -7
3    5
dtype: int64

In [33]:
obj.index = ['Bob', 'Steve', 'Jeff', 'Ryan']

In [34]:
obj

Bob      4
Steve    7
Jeff    -7
Ryan     5
dtype: int64